
:root{
    --primary_colour : #fffffa;
}

*{
    padding: 0px;
    margin: 0px;
}

h1{
    padding : 5px;
    text-align: center;
}

.heading2{
    text-align: center;
    /*background-color: gray;*/
    opacity: 0.8;
    margin-bottom: 20px;
}

a:hover{
    opacity : 0.8
}

a:link, a:visited{
    text-decoration: none;
}

.table-header-cell{
    background-color: var(--primary_colour);
    margin: 0px;
    padding: 0px;
}


table{
    border : 0px;
    border-spacing: 0px;

    padding-left: 10px;
    padding-right: 10px;

    width: 100%;
}

thead{
    margin-bottom: 20px;
}
