<!--
    required context (base.html)

    is_logged_in : bool
    username : string

-->

<!DOCTYPE html>
<html>
    <head>
        {% block title%}
        <title>Codesmed</title>
        {% endblock title %}

        
    </head>
    <body>

        {% block header_root %}
        <div id="header-root">
            <div id="main-heading">
                <a href="{% url 'problems:index' %}" id="title-link" 
                class="invisible-link white-text styled-text">
                    Codesmed
                </a>
            </div>
            <div id="user-profile-heading">
                {% if is_logged_in %}
                <a href = "{% url 'problems:user_profile_path' username %}" class="white-text styled-text"> Profile </a>
                {% else %}
                <a href="{% url 'problems:login_page_path' %}" class="white-text styled-text"> Login </a>
                {% endif %}
            </div>
        </div>
        {% endblock header_root %}

        {% block content_root %}
        {% endblock content_root %}
    </body>
</html>