
<!--
    required context (base.html)

    is_logged_in : bool
    username : string

    required context apart from base.html

    'problem' :  Problem object ,
    'description' 
    'input' 
    'output'
    'constraint'
    'example' : array of dict like 
    
    'languages_str' : string representation of array of languages as strings
    
    'languages' : array of Language objects 

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Problems-{{problem.id}}</title>
{% endblock title %}

<style>

    :root{
        --primary_colour : #fffffa;
        --button_colour : rgba(80, 80, 80, 0.2);
        --ac_green_colour : rgb(0,200,50);
        --wa_red_colour : rgb(200,40,40);
        --tle_yellow_colour : rgb(150,80,50);
        --error_verdict_colour : rgb(40, 40, 40);
    }
    
    *{
        padding: 0px;
        margin: 0px;
    }
    
    h1{
        padding : 5px;
    }
    
    .heading2{
        text-align: center;
        /*background-color: gray;*/
        opacity: 0.8;
        margin-bottom: 5vh;
    }
    
    a:hover{
        opacity : 0.8
    }
    
    a:link, a:visited{
        text-decoration: none;
    }
    
    .table-header-cell{
        background-color: var(--primary_colour);
        margin: 0px;
        padding: 0px;
    }
    
    
    table{
        border : 0px;
        border-spacing: 0px;
    
        padding-left: 10px;
        padding-right: 10px;
    
        width: 100%;
    }
    
    thead{
        margin-bottom: 20px;
    }
    
    .button-link{
        background-color: var(--button_colour);
        border-radius: 3px;
        color : #000000;
        margin-left: 1%;
        margin-right: 1%;
        padding: 5px;
    }
    
    #problem-detail{
        margin: 1%;
        margin-top: 20px;
    }
    
    h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    
    #submission-input, #verdict{ 
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    
    .code-submit-button, #language-selector-list{
        padding: 5px;
    }
    
    #submission-input-textarea{
        width: 100%;
        padding: 0.3%;
    
        height: 70vh;
    
        margin-bottom: 2vh;
    
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
    
    /*verdict_type : -1 -> error, 0 -> AC, 1 -> WA, 2 -> RE, 3 -> TLE, 4 -> MLE, 5 -> CE*/
    
    .verdict-text--1{
        color : var(--error_verdict_colour);
    }
    
    .verdict-text-0{
        color: var(--ac_green_colour);
    }
    
    .verdict-text-1{
        color: var(--wa_red_colour);
    }
    
    .verdict-text-2{
        color: var(--wa_red_colour);
    }
    
    .verdict-text-3{
        color: var(--tle_yellow_colour)
    }
    
    .verdict-text-4{
        color: var(--wa_red_colour);
    }
    
    .verdict-text-5{
        color: var(--wa_red_colour);
    }
    
    #header-root{
        display: flex;
    }
    
    .main-heading{
        flex:100%;
    }
    
    #user-profile-heading{
        padding: 5px;
    }
    
    
</style>

<style>

#detail-submit-content-root{
    display: flex;
}


.main-column{
    flex:50%;
}

#problem-submit-root{
    background-color: #eeeeee;
}

#problem-detail-root{
    background-color: #f5f5f5;
}

</style>


{% block content_root %}
<div class="problem-title">
    <h2 class="heading2">P{{problem.id}} {{problem.name}}</h2>
</div>

<div id="detail-submit-content-root">

    <div id="problem-detail-root" class="main-column">
        <div id="problem-header">
            
            <div class="problem-header-control">
                <a href="{% url 'problems:submissions_detail_path' problem.id %}" class="button-link" >
                    View All Submissions
                </a>
            </div>
        </div>
        <div id="problem-detail">
            <div id="problem-desc">
                <p>{{description|linebreaksbr}}</p>
            </div>
            <div id="problem-inp">
                <h3>Input : </h3>
                <p>{{input|linebreaksbr}}</p>
            </div>
            <div id="problem-out">
                <h3>Output : </h3>
                <p>{{output|linebreaksbr}}</p>
            </div>
            <div id="problem-constraints">
                <h3>Constraints : </h3>
                <p>{{constraints|linebreaksbr}}</p>
            </div>
            <div id="problem-languages">
                <br />
                <p><strong>Languages Supported :</strong> {{languages_str}}</p>
            </div>
            <div id="problem-examples">
                <h3>Sample I/O examples : </h3>
                <p>{{examples|linebreaksbr}}</p>
            </div>
        </div>
    </div>

    <div id="problem-submit-root" class="main-column">
        <div id="submission-input">
            <form>
            <textarea id="submission-input-textarea" name="input-code" rows="25" cols="100" maxlength="50000"></textarea>
            <br />
            <select id="language-selector-list" name="language-selector">
            {% for language in languages %}
                <option class="language-selector-option" value="{{language.id}}">
                    {{language.name}}
                </option>    
            {% endfor %}
            </select>
            <input type="button" onClick="handleSubmit()" value="Submit" class="code-submit-button"/>
            </form>
        </div>
        <hr />
        <div id="verdict">
            <span>Verdict : </span>
            <span id="verdict-element">No code submitted.</span>
        </div>
    </div>

</div>
<script>
    const cur_page_problem_id = {{problem.id}} ;
</script>
<script>


class Config{
    static logging = true;
    static debug_mode = true; // set it false in prod environment at least
    static last_sub_time_prop_name = 'last-submission-time';
    static min_resub_time_delay = 5; // change in prod
    static sending_submission_text = 'Sending Submission';
    //static NOT_EXISTS = 'value-does-not-exists';

    // element id
    static verdict_element_id = 'verdict-element' ;
    static submitted_verdict_text = 'Code Submitted. Processing '
    static code_input_element_id = 'submission-input-textarea';
    static language_selector_element_id = 'language-selector-list';
}

class Assertions{
    static assertTrue(bool_expr){
        if(!bool_expr){
            throw new Error('Assertion Error : assertTrue() failed.')
        }
    }
}

class Logger{
    static log(message){
        // check if logging is on
        if(!Config.logging) return;
        
        // log message with timestamp.
        console.log("[" + (new Date().toLocaleString()) + "] " + message);
    }
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



class VerdictManager{

    static instance = new VerdictManager();

    constructor(){
        this.verdict_element = document.getElementById(Config.verdict_element_id);
    }

    set_verdict(verdict, verdict_type){
        // set verdict message in HTML DOM element.
        this.verdict_element.innerHTML = verdict;
        // make sure to assign correct class 
        let verdict_element_class = "verdict-text-" + verdict_type
        this.verdict_element.className = verdict_element_class
    }

}


class Manager{

    static instance = new Manager();

    // return Date object or null
    get_last_sub_time(){
        const last_sub_time_str = localStorage.getItem(Config.last_sub_time_prop_name);

        // even if last_sub_time_str is null, or ISO string, it will work in both case automatically
        let last_sub_time = new Date(last_sub_time_str)
        return last_sub_time;
    }

    is_submission_delay_enough(){

        const cur_time = new Date();
        let diff_time_sec = Number.MAX_VALUE;

        const last_sub_time = this.get_last_sub_time();
        Logger.log("last_sub_time : " + last_sub_time);

        if(last_sub_time !== null){
            Assertions.assertTrue( cur_time >= last_sub_time ) ;
            diff_time_sec = Math.floor( (cur_time - last_sub_time) / 1000) ;
        }

        Logger.log("diff_time_sec : " + diff_time_sec);

        return (diff_time_sec >= Config.min_resub_time_delay);
    }

    set_last_sub_time(datetime){
        localStorage.setItem(Config.last_sub_time_prop_name, datetime.toISOString());
    }


    submit(){

        Logger.log("Manager.submit() called.")

        
        // code text should be non empty
        if(document.getElementById(Config.code_input_element_id).value === ""){
            alert("Empty Code")
        }
        // check when last submission was made, if more recently than 30 seconds, then say no.
        else if(this.is_submission_delay_enough()){
            // save the submission time
            this.set_last_sub_time(new Date());
            // do the submission
            this.send_submission_to_server();
        }
        else{
            // deny submission
            alert("Can only submit once in every " + Config.min_resub_time_delay + "sec.");
        }
   
    }

    handleResponse(response){
        
    }

    send_submission_to_server(){
        
        // update verdict to processing
        VerdictManager.instance.set_verdict(Config.sending_submission_text);
        
        
        // send data to server
        // asynchronously update the verdict on recieving from server
        const request = this.create_submission_request();
        fetch(request).then((response) => {
            Logger.log("Response recieved");
            return response.json();
        })
        .then( (data) => {
            VerdictManager.instance.set_verdict(data.verdict, data.verdict_type);
            
        });
    }

    // Todo : Make it more efficient
    add_backslash_to_quotes(str){
        let res = "";
        //for(let c in str){
        for(let i=0; i<str.length; i++){
            let c = str[i];
            if(c === "\""){
                res += "\\\"";
            }
            else if(c === "\\"){
                res += "\\\\"
            }
            else{
                res += String(c);
            }
        }
        return res;
    }

    get_request_body(){
        let code = document.getElementById(Config.code_input_element_id).value ;

        // Todo : This is a very temporary fix. Can you do something else ?
        code = Manager.instance.add_backslash_to_quotes(code);
        const lang_selector = document.getElementById(Config.language_selector_element_id);
        const language_id = lang_selector.options[lang_selector.selectedIndex].value;
        
        // needs double quotes, needs comma seperation..
        const body_str =  `{
            "language_id" : "${language_id}",
            "problem_id" : "${cur_page_problem_id}",
            "code" : "${code}"
        }`;

        if(Config.debug_mode){
            Logger.log(//"Request - csrftoken : " + csrftoken + 
            "\nlanguage_id : " + language_id + 
            "\nproblem_id : " + cur_page_problem_id +
            "\ncode : " + code);
        }

        return body_str;
    }

    create_submission_request(){

        Logger.log("create_submission_request() called");
        // read text area
        // read language option
        // read token 
        // set headers and body
        const csrftoken = getCookie('csrftoken');

        const body_str = this.get_request_body();
        const request_url = location.protocol + '//' + location.host + '/submit/' ;
        //const request_url = 'https://ee4e-8-20-101-32.eu.ngrok.io/submit/';

        Logger.log("request_url = " + request_url) ;

        const request = new Request(
            request_url,
            {
                method: 'POST',
                //headers: {'X-CSRFToken': csrftoken},
                //mode: 'same-origin', // Do not send CSRF token to another domain.
                body : body_str
            }
        )

        
        


        // return request
        return request;
    }


}



function handleSubmit(){
    Manager.instance.submit();
}

function handle_tab_textarea(){
    document.getElementById(Config.code_input_element_id).addEventListener('keydown', function(e) {
        if (e.key == 'Tab') {
          e.preventDefault();
          var start = this.selectionStart;
          var end = this.selectionEnd;
      
          // set textarea value to: text before caret + tab + text after caret
          this.value = this.value.substring(0, start) +
            "\t" + this.value.substring(end);
      
          // put caret at right position again
          this.selectionStart =
            this.selectionEnd = start + 1;
        }
      });
}

function onLoad(){
    handle_tab_textarea();
}

onLoad();



</script>
<script>
function test_localstorage(){
    console.log("scripts started");
    localStorage.setItem('submission_id', 1234);
    console.log( localStorage.getItem('submission_id'));
}


// now we test classes

class Test{
    constructor(){
        this.var1 = 'a';
    }

    func1(){
        console.log("Test.var = " + this.var1);
    }

    static staticVar = 'staticVal';
}

function test_classes1(){
    test_var = new Test();
    test_var.func1();
    console.log("Test.staticVar : " + Test.staticVar)
}







test_classes1();
test_localstorage();
</script>


{% endblock content_root %}

 