<!--
    required context 

    problems_list : an QuerySet of Problem 

-->

<!DOCTYPE html>
<html>
    <head>
        <title>Codesmed - Problemset</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static '/problems/images/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/problems/styles/common.css' %}"/>
    </head>
    <body>
        <div id="header-root">
            <h1>
                <a href="{% url 'problems:index' %}" id="title-link" class="invisible-link">
                    Codesmed
                </a>
            </h1>
        </div>
        <div id="content-root">
            <h2 class="heading2">Problemset</h2>
            <table>
                <thead>
                    <td class="table-header-cell">ID</td>
                    <td class="table-header-cell">Problem Name</td>
                    <td class="table-header-cell">Difficulty</td>
                </thead>
                <tbody>
                {% for problem in problem_list %}
                <tr id="problem-{{problem.id}}">
                    <td>{{problem.id}}</td>
                    <td>
                        <a href="{% url 'problems:detail_submit_path' problem.id %}">{{problem.name}}</a>
                    </td>
                    <td>{{problem.difficulty}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>