<!--
    required context 

    problems_list : an array of dict, each dict with fields
    id, name, difficulty

-->

<!DOCTYPE html>
<html>
    <head>
        <title>Problems</title>
    </head>
    <body>
        <div id="header-root"></div>
        <div id="content-root">
            <h2 class="heading2">Problemset</h2>
            <table>
                <th>
                    <td>ID</td>
                    <td>Problem Name</td>
                    <td>Difficulty</td>
                </th>
            </table>
        </div>
    </body>
</html>