<!--
    required context (base.html)

    is_logged_in : bool
    username : string

    required context apart from base.html

    problems_list : an QuerySet of Problem

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Codesmed - Problemset</title>
{% endblock title %}

{% block content_root %}
<div id="content-root">
    <h2 class="heading2">Problemset</h2>
    <table class="fancy-table-1">
        
        <tbody>
            <tr>
                <td class="table-header-cell">ID</td>
                <td class="table-header-cell">Problem Name</td>
                <td class="table-header-cell">Difficulty</td>
            </tr>
        {% for problem in problem_list %}
        <tr id="problem-{{problem.id}}">
            <td>{{problem.id}}</td>
            <td>
                <a href="{% url 'problems:detail_submit_path' problem.id %}" class="">{{problem.name}}</a>
            </td>
            <td>{{problem.difficulty}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content_root %}


