
<!--
    required context 

    post_url : string
    form_input_error : bool
    error_message : string

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Codesmed - Login Page </title>
{% endblock title %}

{% block header_root %}
<div id="header-root">
    <div id="main-heading">
        <a href="{% url 'problems:index' %}" id="title-link" 
        class="invisible-link white-text styled-text">
            Codesmed
        </a>
    </div>
</div>
{% endblock header_root %}

{% block content_root %}
<div id="content-root">
<h2 class="heading2">Login Page</h2>
<form action="{{post_url}}" method="post" class="fancy-form-1">
    {% csrf_token %}
    <label for="username-input">Enter Username</label>
    <input type="text" name="username-input"></input>

    <br />

    <label for="password-input">Enter Password</label>
    <input type="password" name="password-input"></input>
    
    <br />
    
    {% if form_input_error %}
    <p>Error : {{error_message}}</p>
    {% endif %}
    <div class="submit-div">
        <input type="submit" value="Submit"></input>
    </div>
</form>
<div class="footer-button-div">
    Not having an account? 
    <a href="{% url 'problems:signup_page_path' %}" class="button-link" >Sign Up</a>
</div>
</div>
{% endblock content_root %}

