<!--
    required context 
    post_url : string
    form_input_error : bool
    error_message : string

-->


<h1>Login Page</h1>
<form action="{{post_url}}" method="post">
    {% csrf_token %}
    <label for="username-input">Enter Username</label>
    <input type="text" name="username-input"></input>

    <br />

    <label for="password-input">Enter Password</label>
    <input type="password" name="password-input"></input>
    
    <br />
    
    {% if form_input_error %}
    <p>Error : {{error_message}}</p>
    {% endif %}
    
    <input type="submit" value="submit"></input>
</form>