<!--
    required context (base.html)

    is_logged_in : bool (current user logged in or not)
    username : string (cur user who is logged in , or '' if not logged in)

    required context apart from base.html

    user_public_info : UserPublicInfo object  with these fields
        -> username : string 
        -> full_name : string
        -> num_problems_solved : int  
        -> problems_solved : list of problem objects, which this user has solved

    is_requested_user_logged_in : bool , is the user, whose page is this, is logged in 

    user_private_info : None if not logged in, else UserPrivateInfo object with these fields 
        -> email 

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Codesmed - User {{user_public_info.username}}</title>
{% endblock title %}

{% block content_root %}
<div id="content-root">
    <table class="fancy-table-1">
        <tr>
            <td>Username</td> <td>{{user_public_info.username}}</td>
        </tr>
        <tr> 
            <td>Name</td><td>{{user_public_info.full_name}}</td>
        </tr>
        <tr>
            <td>Problems Solved</td><td>{{user_public_info.num_problems_solved}}</td>
        </tr>
        {% if is_requested_user_logged_in %}
        <tr>
            <td>Email(Only visible to you)</td><td>{{user_private_info.email}}</td>
        </tr>
        {% endif %}
    </table>

{% if is_requested_user_logged_in %}
<div class="footer-button-div">
<a href="{% url 'problems:logout_action_path' %}" class="button-link"> Logout </a>    
</div>
{% endif %}

</div>
{% endblock content_root %}


