<!--
    required context (base.html)

    is_logged_in : bool
    username : string (cur user who is logged in , or '' if not logged in)

    required context apart from base.html

    user_public_info : UserPublicInfo object  with these fields
        -> username : string 
        -> full_name : string
        -> num_problems_solved : int  

    user_private_info : None if not logged in, else UserPrivateInfo object with these fields 
        -> email 

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Codesmed - User {{user_public_info.username}}</title>
{% endblock title %}

{% block content_root %}
<div id="content-root">
    <p> Username : {{user_public_info.username}}</p>
    <p> Name : {{user_public_info.full_name}}</p>
    <p> Problems Solved : {{user_public_info.num_problems_solved}}</p>

    {% if is_logged_in %}
    <p> Email : {{user_private_info.email}}</p>
    <a href="{% url 'problems:logout_action_path' %}"> Logout </a>    
    {% endif %}

</div>
{% endblock content_root %}


