<!--
    required context 
    post_url : string
    form_input_error : bool
    error_message : string

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Codesmed - Signup Page </title>
{% endblock title %}

{% block header_root %}
<div id="header-root">
    <div id="main-heading">
        <a href="{% url 'problems:index' %}" id="title-link" 
        class="invisible-link white-text styled-text">
            Codesmed
        </a>
    </div>
</div>
{% endblock header_root %}


{% block content_root %}
<div id="content-root">
    <h2 class="heading2">SignUp Page</h2>
<form action="{{post_url}}" method="post" class="fancy-form-1">
    {% csrf_token %}
    <label for="username-input">Enter Username</label>
    <input type="text" name="username-input"></input>

    <br />

    <label for="email-input">Enter Email</label>
    <input type="email" name="email-input"></input>

    <br />

    <label for="password-input">Enter Password</label>
    <input type="password" name="password-input"></input>
    
    <br />

    <label for="re-enter-password-input">Re Enter Password</label>
    <input type="password" name="re-enter-password-input"></input>
    
    <br />
    
    {% if form_input_error %}
    <p>Error : {{error_message}}</p>
    {% endif %}

    <p>Remember Your Password, If you forgot it. You wont be able to reset it.</p>
    
    <div class="submit-div">
        <input type="submit" value="Submit"></input>
    </div>
</form>
</div>
{% endblock content_root %}


