<!--
    required context 

    'problem' :  Problem object ,
    'languages' : array of Language objects

-->

<!DOCTYPE html>
<html>
    <head>
        <title>Submit P-{{problem.id}}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static '/problems/images/favicon.ico' %}"/>
    </head>
    <body>
        <div id="header-root">
            <h1>
                <a href="{% url 'problems:index' %}" id="title-link" class="invisible-link">
                    Codesmed
                </a>
            </h1>
        </div>
        <div id="content-root">
            <div id="problem-header">
                <div class="problem-title">
                    <h2 class="heading2">Submit for 
                        <a href="{% url 'problems:detail_path' problem.id %}">
                        P{{problem.id}} {{problem.name}}
                        </a>
                    </h2>
                    <a href="{% url 'problems:submissions_detail_path' problem.id %}" class="button-link" >
                        View All Submissions
                    </a>
                </div>

            </div>
            <div id="submission-input">
                <form>
                <textarea id="submission-input-textarea" name="input-code" rows="25" cols="100" maxlength="50000"></textarea>
                <br />
                <select id="language-selector-list" name="language-selector">
                {% for language in languages %}
                    <option class="language-selector-option" value="{{language.id}}">
                        {{language.name}}
                    </option>    
                {% endfor %}
                </select>
                <input type="button" onClick="handleSubmit()" value="Submit" class="submit-button"/>
                </form>
            </div>
            <hr />
            <div id="verdict">
                <span>Verdict : </span>
                <span id="verdict-element">Server is not functional yet to accept submissions.</span>
                <img src= "{% static '/problems/images/loading_1.gif' %}" id="verdict-loading-gif"
                alt="loading gif" hieght="15" width="15"/>
            </div>
        </div>

        <script>
            const cur_page_problem_id = {{problem.id}} ;
        </script>
        <script src="{% static '/problems/scripts/submit_handling.js' %}"></script>
        <script src="{% static '/problems/scripts/test.js' %}"></script>

    </body>
</html>