<!--
    required context (base.html)

    is_logged_in : bool
    username : string

    required context apart from base.html

    problem : a Problem object

-->

{% extends "problems/base.html" %}


{% block title%}
<title>Submissions P-{{problem.id}}</title>
{% endblock title %}

{% block content_root %}
<div id="content-root">
    <h2 class="heading2">Submissions of 
        <a href="{% url 'problems:detail_submit_path' problem.id %}">
            P{{problem.id}} {{problem.name}}
        </a>
    </h2>
    <table class="fancy-table-1">
        
    <tbody>
        <tr>
            <td class="table-header-cell" >ID</td>
            <td class="table-header-cell" >User</td>
            <td class="table-header-cell" >Time of Submission</td>
            <td class="table-header-cell" >Runtime</td>
            <td class="table-header-cell" >Verdict</td>
        </tr>
        {% for submission in problem.submission_set.all %}
        <tr id="submission-{{submission.id}}">
            <td>{{submission.id}}</td>
            <td>
                <a href="{% url 'problems:user_profile_path' submission.user.username %}">{{submission.user.username}}</a>
            </td>
            <td>{{submission.submission_time}}</td>
            <td>{{submission.runtime}} ms</td>
            <td class="verdict-text-{{submission.verdict_type}}">{{submission.verdict}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock content_root %}






