<!--
    required context 

    'problem' :  Problem object ,
    'languages' : array of strings

-->

<!DOCTYPE html>
<html>
    <head>
        <title>Problems</title>
    </head>
    <body>
        <div id="header-root"></div>
        <div id="content-root">
            <div id="problem-header">
                <div class="problem-title">
                    <h2 class="heading2">Submit P{{problem.id}} {{problem.name}}</h2>
                </div>
            </div>
            <div id="submission-input">
                <form>
                <textarea id="sub-textarea" name="input-code" rows="30" cols="100" ></textarea>
                <br />
                <input type="submit" value="Submit" />
                </form>
            </div>
            <div id="verdict">

            </div>
        </div>
    </body>
</html>